page-extract {

  .mButton {
    text-transform: uppercase;
    font-size: 13px;
  }

  .mFoundsText {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  .mMoneyText {
    width: 100%;
    text-align: center;
  }

  .mCard {
    height: 100%;
  }

}
