page-menu {

  .mButton {
    font-size: 13px;
  }

  .mLastTransationText {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .mFoundsText {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  .mMoneyText {
    width: 100%;
    text-align: center;
  }



}
